@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Dubai Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Regular'), url('./assets/font/Dubai-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'LIBRARY 3 AM Regular';
    font-style: normal;
    font-weight: normal;
    src: local('LIBRARY 3 AM Regular'), url('./assets/font/Library 3 am.woff') format('woff');
    }


    .footer, .woofnomics,.woofrens {
      font-family: 'Dubai Regular';
    }
    .header,.totalPoint, .library {
      font-family: 'LIBRARY 3 AM Regular';
    }
 





/* @font-face {
  font-family: "Rockwell";
  src: url("./assets/font/ROCK.TTF");
}

@font-face {
  font-family: "Rockwell-Bold";
  src: url("./assets/font/Rockwell-Bold.ttf");
}

@font-face {
  font-family: "Ravie";
  src: url("./assets/font/ravie.ttf");
} */




.loader {
  width: 8px;
  height: 8px;
  border: 5px solid #FFF;
  border-bottom-color: #000;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 


  li::marker {
    color: #F19D5C;
  }
  input {
    color: white;
    font-family: 'Dubai Regular';

  }
  ::placeholder {
    color: rgba(255, 255, 255, 0.31) !important;
    font-size: 14px;

  }
  .homeTab {
    font-family: 'Dubai Regular';

  }
