@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Rockwell";
  src: url("./assets/font/ROCK.TTF");
}

@font-face {
  font-family: "Rockwell-Bold";
  src: url("./assets/font/Rockwell-Bold.ttf");
}

@font-face {
  font-family: "Ravie";
  src: url("./assets/font/ravie.ttf");
}

.carousel-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.month-year-slider, .day-slider {
  display: flex;
  align-items: center;
  justify-content: center !important;
}

.arrow {
  margin: 0 10px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.arrow:hover {
  background-color: #060c1d;
  color: #ffffff4d;
}

.date-display {
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
  /* margin: 0 20px; */
  overflow: hidden;
  width: 150px;
  text-align: center;
}

.days-container {
  display: flex;
  justify-items: center;
  align-items: center;
  overflow-x: auto;
}

.day-item {
  padding: 0px 2px;
  margin: 2px;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-width: 35px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  color: rgba(255, 255, 255,0.75);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-item.selected {
  background-color: #FEC95E;
  color: #875A00;
  font-weight: bold;
}

.day-item:hover {
  background-color: #FEC95E;
  color: #875A00;
}


/* Character page */

.choose-charact-btn:hover p {
  color: #FEC95E;
}

.choose-charact-btn:hover  .radio-btn-wrapper {
  border-color: #FEC95E !important;
}

.choose-charact-btn:hover  .radio-btn-wrapper div {
  background: #FEC95E;
}

.choose-charact-btn.active p {
  color: #FEC95E;
}

.choose-charact-btn.active  .radio-btn-wrapper {
  border-color: #FEC95E !important;
}

.choose-charact-btn.active  .radio-btn-wrapper div {
  background: #FEC95E;
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.loader {
  width: 8px;
  height: 8px;
  border: 5px solid #FFF;
  border-bottom-color: #000;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 